@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './components/buttons';
@import './components/header';
@import './components/hero-section';
@import './components/links';
@import './components/carousel-button';

@import './utils/mixins';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/traditions-section';

@import './layouts/formats-section';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/forms';
@import './layouts/section';
@import './layouts/container';







// .circle {
//     @include circle(100px, 100px, white);
// }

// .circle-big {
//     @include circle(200px, 200px, green);
// }

// .circle-small {
//     @include circle(50px, 50px, white);
// }

.button:disabled {
    color: gray;
    background-color: lightgrey;
    border-color: currentColor;
    cursor: not-allowed;
} 


/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: var(--color-secondary-dark);
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */