.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-form {
    flex: 1;
}

.contact-map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
}
